<script id="message-template">
        <li class="message">
            <div class="message__title">
                <span>{{createdAt}}</span>
            </div>
            <div class="message__body">
                <p>{{text}}</p>
            </div>
        </li>
</script>